In [1]:
data_dir = "/home/ashish/Documents/github/VA/data/cognitive_data/eeg_features_ws_50"

In [2]:
import random
import os

In [30]:
import numpy as np
import pandas as pd
from sklearn import svm

In [4]:
users = list(range(1, 10))

In [33]:
def train_test_split(data_dir, test_pct=0.3):
    users = list(range(1, 10))
    test = random.sample(users, int(len(users)*test_pct))
    train = list(set(users) - set(test))
    X_train, y_train, X_test, y_test = pd.DataFrame(), pd.DataFrame(), pd.DataFrame(), pd.DataFrame()
    
    for user_id in train:
        X = pd.read_csv(os.path.join(data_dir, f'user_{user_id}.csv'))
        y_train = y_train.append(pd.DataFrame(X['fatigue_label']))
        X_train = X_train.append(X.drop(columns='fatigue_label'))
        X_train = X_train.fillna(0)
        
    for user_id in test:
        X = pd.read_csv(os.path.join(data_dir, f'user_{user_id}.csv'))
        y_test = y_test.append(pd.DataFrame(X['fatigue_label']))
        X_test = X_test.append(X.drop(columns='fatigue_label'))
        X_test = X_test.fillna(0)
        
    return X_train, y_train, X_test, y_test

In [34]:
X_train, y_train, X_test, y_test = train_test_split(data_dir, test_pct=0.3)

In [35]:
X_train.head()

,alpha_1_mean_ws_50,alpha_2_mean_ws_50,alpha_3_mean_ws_50,alpha_4_mean_ws_50,beta_1_mean_ws_50,beta_2_mean_ws_50,beta_3_mean_ws_50,beta_4_mean_ws_50,delta_1_mean_ws_50,delta_2_mean_ws_50,...,delta_3_median_ws_50,delta_4_median_ws_50,gamma_1_median_ws_50,gamma_2_median_ws_50,gamma_3_median_ws_50,gamma_4_median_ws_50,theta_1_median_ws_50,theta_2_median_ws_50,theta_3_median_ws_50,theta_4_median_ws_50
0,0.436433,0.049540,0.097837,0.267870,0.095761,0.036744,0.163251,0.157952,0.320768,0.618394,...,0.171165,0.302790,0.065271,0.026829,0.490069,0.148011,0.081767,0.268493,0.077679,0.123378
1,0.396805,0.038778,0.097837,0.269235,0.103525,0.031972,0.163251,0.156839,0.343605,0.635758,...,0.171165,0.303021,0.069723,0.023066,0.490069,0.146807,0.086342,0.270426,0.077679,0.124098
2,0.383157,0.033222,0.097837,0.270666,0.107387,0.028836,0.163251,0.155978,0.351356,0.645720,...,0.171165,0.303253,0.073756,0.019304,0.490069,0.145603,0.088417,0.272360,0.077679,0.124819
3,0.377446,0.030280,0.097837,0.271739,0.109917,0.026801,0.163251,0.155743,0.354592,0.651163,...,0.171165,0.304165,0.073073,0.017533,0.490069,0.143010,0.086953,0.273139,0.077679,0.125770
4,0.373045,0.028498,0.097837,0.271947,0.111646,0.025490,0.163251,0.156091,0.357704,0.654100,...,0.171165,0.305077,0.072390,0.015762,0.490069,0.140418,0.085489,0.273919,0.077679,0.126721

In [36]:
y_train.head()

   fatigue_label
0              0
1              0
2              0
3              0
4              0

## ML Model

In [37]:
X_train_np = X_train.to_numpy()
X_train_np = X_train_np.astype(float)
np.any(np.isnan(X_train_np))

False

In [38]:
y_train_np = y_train.to_numpy()
y_train_np = y_train_np.astype(int)

In [ ]:
clf = svm.SVC()
clf.fit(X_train_np, y_train_np)

/tankpool/home/ashish/.virtualenvs/VA/lib/python3.6/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)